/*Global Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Declaring Variables */
:root{
    --primary-color:blue;
}
html{
    font-family: poppins, sans-serif;
}

.header{
    background-color: #e2e5ec;
    min-height: 100vh;
}

/*********************************** Navigation ***********/
.nav::after{
    content: "";
    clear: both;
    display: table;
}

.nav{
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
}

.nav-logo{
    float: left;
}
.nav-logo a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color:var(--primary-color)
}

.nav-menu{
    float: right;
}

.nav-item{
    float: left;
    list-style: none;
    margin: 0 10px;
}

.nav-menu .nav-list .nav-item a{
    text-decoration: none;
    color: black;
    
}

.nav-menu .nav-list .nav-item a:hover{
    color: var(--primary-color);
}


/*********************************** Hero ***********/
.hero{
    padding: 100px 0;
}
.hero-text-heading{
    margin-bottom: 30px;
    letter-spacing: 3px;
    padding-right: 30px;
    font-size: 50px;
}

.hero-image-container{
    background-color: var(--primary-color);
}
.hero-image-container img{
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 10px;
}


.hero-form label{
    display: block;
}
.hero-form input{
    padding: 10px 12px;
    border: 2px solid #858585;
    background-color: transparent;
}

.hero-form input:focus{
    border-color:  var(--primary-color);
    outline: none;
}
/*********************************** re-useable components ***********/
.row{
    max-width: 1000px;
    margin: 0 auto;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.row [class^=col-]{
    float: left;
}

.row [class^=col-]:not(:last-child){
    margin-right: 30px;
}

.col-1-of-2{
    width: calc((100% - 30px) / 2);
}
.col-1-of-3{
    width: calc((100% - 2 * 30px) / 3);
}

.col-1-of-4{
    width: calc((100% - 3 * 30px) / 4);
}
/*************************Heading style******************/
.heading-style::after{
    content: "";
    background-color: blue;
    display: block;
    height: 3px;
    width: 50px;
    margin: 0 auto;
}

/*********************************** buttons ***********/
.btn{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s;
    text-decoration: none;
}
.btn-tag{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 140px;
    margin-top: 70px;
}

.btn:hover{ 
    background-color: transparent;
    border-color: var(--primary-color);
    color:var(--primary-color)
}
/*********************************** section-about-Area ***********/
.section-about{
    padding: 100px 0;
}
.about-image-container img{
    width: 100%;  
    position: relative;
    left: 10px;
    bottom: 10px;
}
.about-image-container{
    background-color: var(--primary-color);
}
.about-para{
    margin: 20px 0;
    font-size: 17px;
}
.about-heading{
    font-size: 30px;
}
.about-textbox{
    padding-left: 30px;
}
/*********************************** section-services-Area ***********/
.section-services{
    background-color: #e2e5ec;
    padding: 100px 0;
}

.section-services-heading{
    text-align:center;
    margin-bottom: 50px;
}
.service-container::after{
    content: "";
    display: table;
    clear: both;
}
.service-icon-circle{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--primary-color);
    float: left;
    text-align: center;
    line-height: 50px;
    color:white;
}
.service-text-content{
    float: right;
    width: 80%;
}
.service-container{
    margin-bottom: 50px;
}
.service-text-content h5{
    margin-bottom: 5px;
}
.service-container-para{
    font-size: 15px;
}
/*******************section workbox Area************/
.section-work{
    padding: 100px 0;
}
.section-work-heading{
    text-align: center;
    margin-bottom: 50px;
}
.section-work-image-container{
    background-color: var(--primary-color);
}
.section-work-image-container img{
    width: 100%;
    position: relative;
    left: 10px;
    bottom: 10px;
}
.workbox-container-step::after{
    content: "";
    display: table;
    clear: both;
}
.workbox-container-step{
    padding-top: 20px;
}
.work-icon-circle{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 50px;
    color: white;
    float: left;
}
.work-text-content{
    float: right;
    width: 80%;
}
.work-text-content h5{
    margin-bottom: 5px;
}
/*******************section Gallery Area************/
.gallery{
    background-color: #e2e5ec;
    padding: 100px 0;
}

.gallery-heading{
    text-align: center;
    margin-bottom: 50px;
}

.gallery-container-1{
    margin-bottom: 30px;
}

.gallery-image-container img{
    width: 100%;
}
/*********************************** section-board-Area ***********/
.section-board{
    padding: 100px 0;
}

.board-textbox{

}
.board-textbox-heading{
    margin-bottom: 15px;
    font-size: 25px;
}
.board-textbox-para{
    margin-bottom: 6px;
}

.board-iconbox-container{
    padding-bottom: 30px;
}
.board-iconbox-container::after{
    content: "";
    clear: both;
    display: table;
}
.board-icon-circle-box{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 50px;
    color: white;
    float: left;
}
.icon-textbox{
    float: right;
    width: 85%;
}
.icon-textbox-heading{
    margin-bottom: 5px;
}
/*********************************** section-review-Area ***********/
.review-section{
    background-color:#e2e5ec ;
}

.review-video-container{
    width: 50%;
    height: 168px;
    background-color: var(--primary-color);
    margin: 0 auto;
    position: relative;
    bottom: 70px;
}
.review-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    right: 10px;
    bottom: 10px;
}
.review-heading{
    text-align: center;
    margin-top: 30px;
}
.review-text-box{
    background-color: white;
    padding: 30px 19px;
}
.review-text-box-heading{
    margin: 10px 0;
}
.review-box{
    margin: 0 auto;
    padding: 40px 20px;
}
/*********************************** section-footer-Area ***********/
.footer{
    background-color: rgb(29, 27, 27);
}

.footer-nav{
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
}
.footer-nav::after{
    content: "";
    clear: both;
    display: table;
}

.footer-text{
    float: left;
    color: white;
}

.footer-nav-menu{
    float: right;
}
.footer-nav-list{

}

.footer-nav-item{
    float: left;
    list-style: none;
    margin: 0 10px;
}

.footer-nav-item a{
    text-decoration: none;
    color:white;
    
}
.footer-nav-item a:hover{
    color: var(--primary-color);
}

/*media quary for device width less than 480px(mobile devices)***/
@media screen and (max-width: 900px) {
    .hero{
        padding:50px 0;
    }
    .hero-text-heading{
        margin-bottom: 30px;
        letter-spacing: 3px;
        padding-right: 0;
        font-size: 50px;
        text-align: center;
    }
    .row {
	width: 100%;
	margin: 0 auto;
    padding: 0 20px;
    }
     .row [class^="col-"]{
        width: 100%;
        margin-right: none !important;
        margin-bottom: 20px;
    }
    .section-about{
        padding: 50px 0;
    }
    .about-textbox{
        padding-left: 0;
        text-align: center;
    }
    .section-services{
        padding: 100px 0;
    }
    .service-icon-circle{
        float: none;
        margin: 0 auto;
    }
    .service-text-content{
        float: none;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .service-text-content h5{
        margin: 10px 0;
    }
    .service-container {
        margin-bottom: 30px;
    }
    .section-work{
        padding: 50px 0;
    }
    section-work-image-container img{
        width: 70%;
        position: relative;
        left: 10px;
        bottom: 10px;
    }
    .work-icon-circle{
        float: none;
        margin: 0 auto;
    }
    .work-text-content{
        float: none;
        text-align: center;
        width: 100%;
    }
    .work-text-content h5{
        margin:10px 0;
    }
    .gallery{
        padding: 50px 0;
    }
    .section-board{
        padding: 50px 0;
    }
    .board-icon-circle-box{
        float: none;
        margin: 0 auto
    }
    .board-textbox-heading {
        text-align: center;
    }
    .icon-textbox{
        float: none;
        text-align: center;
        width: 100%;
    }
    .icon-textbox-heading{
        margin:10px 0;
    }
    .review-heading {
        margin-top: 15px;
    }
    .review-video-container{
        width: 70%;
    }
    .footer-nav-item {
    margin: 0 10px;
    }
    .footer-nav-menu {
        float: none;
        margin: 0 auto;
    }
    .footer-text {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
}
/*media quary for device width less than 900px(ipad devices)***/
@media screen and (max-width: 480px) {
    .hero{
        padding:50px 0;
    }
    .hero-text-heading{
        margin-bottom: 30px;
        letter-spacing: 3px;
        padding-right: 0;
        font-size: 50px;
        text-align: center;
    }
    .row {
	width: 100%;
	margin: 0 auto;
    padding: 0 20px;
    }
     .row [class^="col-"]{
        width: 100%;
        margin-right: none !important;
        margin-bottom: 20px;
    }
    .section-about{
        padding: 50px 0;
    }
    .about-textbox{
        padding-left: 0;
        text-align: center;
    }
    .section-services{
        padding: 100px 0;
    }
    .service-icon-circle{
        float: none;
        margin: 0 auto;
    }
    .service-text-content{
        float: none;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .service-text-content h5{
        margin: 10px 0;
    }
    .service-container {
        margin-bottom: 30px;
    }
    .section-work{
        padding: 50px 0;
    }
    section-work-image-container img{
        width: 70%;
        position: relative;
        left: 10px;
        bottom: 10px;
    }
    .work-icon-circle{
        float: none;
        margin: 0 auto;
    }
    .work-text-content{
        float: none;
        text-align: center;
        width: 100%;
    }
    .work-text-content h5{
        margin:10px 0;
    }
    .gallery{
        padding: 50px 0;
    }
    .section-board{
        padding: 50px 0;
    }
    .board-icon-circle-box{
        float: none;
        margin: 0 auto
    }
    .board-textbox-heading {
        text-align: center;
    }
    .icon-textbox{
        float: none;
        text-align: center;
        width: 100%;
    }
    .icon-textbox-heading{
        margin:10px 0;
    }
    .review-heading {
        margin-top: 15px;
    }
    .review-video-container{
        width: 70%;
    }
    .footer-nav-item {
    margin: 0 10px;
    }
    .footer-nav-menu {
        float: none;
        margin: 0 auto;
    }
    .footer-text {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
}